body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #c72c41;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
 list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    color: #c72c41;
}

.producto {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px;
    text-align: center;
}

.producto img {
    max-width: 100%;
    height: auto;
}

button {
    background-color: #c72c41;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a61e31;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #c72c41;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}